<div *ngIf="postData" class="post-container">
  <mat-card class="post-card">
    <div class="post-body">
      <div class="post-image-wrapper">
        <img [src]="postData.img" alt="Post Image" class="post-image" />
      </div>
      <div class="post-content-wrapper">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ postData.name }}</mat-card-title>
          <mat-card-subtitle>
            Posted By : {{ postData.postedBy }} | Posted On : {{ postData.date | date: 'medium' }}
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="post-text-content">
          {{ postData.content }}
        </mat-card-content>

        <mat-chip-set>
          <mat-chip *ngFor="let tag of postData.tags">{{ tag }}</mat-chip>
        </mat-chip-set>

        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="likePost()">
            {{ postData.likeCount }} <mat-icon>favorite</mat-icon>
          </button>
          <button mat-raised-button color="primary" class="view-button">
            {{ postData.viewCount }} <mat-icon>remove_red_eye</mat-icon>
          </button>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>

  <mat-card class="comment-card">
    <mat-card-content>
      <h4>Publish Your Comment</h4>
      <form [formGroup]="commentForm" class="comment-form">
        <mat-form-field appearance="fill">
          <mat-label>Content</mat-label>
          <textarea matInput formControlName="content"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Posted By</mat-label>
          <input matInput formControlName="postedBy">
        </mat-form-field>

        <button mat-raised-button color="primary" type="button"
                (click)="publishComment()" [disabled]="!commentForm.valid">
          Publish
        </button>
      </form>
    </mat-card-content>
  </mat-card>

  <div style="margin-top: 10px;">
  <h4>Comments</h4>
  <mat-card style="margin-top: 10px;" *ngFor="let comment of comments">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ comment.postedBy }}</mat-card-title>
      <mat-card-subtitle>{{ comment.createdAt | date:'medium' }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      {{ comment.content }}
    </mat-card-content>
  </mat-card>
</div>
</div>
